body{
	margin:0 150px 0 150px;
	background-color:blue;
}

header{
	background-color:yellow;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:black;
	height:70px;
}

header p{
	margin:0;
	height:100%;
	background-color:red;
	float:left;
}

header span{
	float:right;
}